---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*見出しの書式*/
section .page__content h2 {
    border-left: solid 10px navy;
    border-bottom: solid 1px navy;
    color: navy;
    padding: 0.5em;
}
section .page__content h3 {
    border-bottom: solid 1px black;
}

strong.redbox {
    background: #ff1e00;/*背景色*/
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

strong.yellowbox {
    background: #ffc629;/*背景色*/
    color: #000000;
    text-align: center;
    padding: 0.5em;
}

.solvebox{
    border: solid 1px rgb(65, 65, 65);
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.solvebox h2{
    margin: 0.5em 0 0;
    border-bottom: double 1px rgb(65, 65, 65);
}

.solvebox .scramble{
    border-bottom: solid 1px rgb(65, 65, 65);
}

.solvebox .solution{
    border-top: solid 1px rgb(65, 65, 65);
}