---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*見出しの書式*/
section .page__content h2 {
    border-left: solid 10px navy;
    border-bottom: solid 1px navy;
    color: navy;
    padding: 0.5em;
}
section .page__content h3 {
    border-bottom: solid 1px black;
}

strong.redbox {
    background: #ff1e00;/*背景色*/
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

strong.yellowbox {
    background: #ffc629;/*背景色*/
    color: #000000;
    text-align: center;
    padding: 0.5em;
}

.solvebox{
    border: solid 1px rgb(65, 65, 65);
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.solvebox .solvetitle{
    font-size: 1.5rem;
    margin: 0.25em 0 0;
    border-bottom: double 1px rgb(65, 65, 65);
}

.solvebox .scramble{
    border-bottom: solid 1px rgb(65, 65, 65);
}

.solvebox .solution{
    border-top: solid 1px rgb(65, 65, 65);
}

.clearfix::after {
    content : " ";
    display : block;
    clear : both;
}

/*TOC LIST用書式*/
    /*トグルボタン*/
    @include breakpoint(max-width ($large - 1px)) {
        .toc__list, .nav__list {
            display: inline-grid;
            margin-bottom: 0 !important;
        }
    }
    /*メインCSS*/
    .toc__list {
        margin-bottom: 1.5em;
    
        input[type="checkbox"],
        label {
            display: none;
        }
    
        @include breakpoint(max-width ($large - 1px)) {
            label {
                position: relative;
                display: inline-block;
                padding: 0.5em 2.5em 0.5em 1em;
                color: $gray;
                font-size: $type-size-6;
                font-weight: bold;
                border: 1px solid $light-gray;
                border-radius: $border-radius;
                z-index: 20;
                -webkit-transition: 0.2s ease-out;
                transition: 0.2s ease-out;
                cursor: pointer;
    
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    right: 1em;
                    top: 1.25em;
                    width: 0.75em;
                    height: 0.125em;
                    line-height: 1;
                    background-color: $gray;
                    -webkit-transition: 0.2s ease-out;
                    transition: 0.2s ease-out;
                }
    
                &:after {
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
    
                &:hover {
                    color: #fff;
                    border-color: $gray;
                    background-color: mix(white, #000, 20%);
    
                    &:before,
                    &:after {
                        background-color: #fff;
                    }
                }
            }
    
            /* selected*/
            input:checked + label {
                color: white;
                background-color: mix(white, #000, 20%);
    
                &:before,
                &:after {
                    background-color: #fff;
                }
            }
    
            /* on hover show expand*/
            label:hover:after {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
    
            input:checked + label:hover:after {
                -webkit-transform: rotate(0);
                -ms-transform: rotate(0);
                transform: rotate(0);
            }
        }
    }
    
    .toc__list .toc__items {
        margin: 0;
    
        a {
            color: inherit;
        }
    
        .active {
            margin-left: -0.5em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-weight: bold;
        }
    
        @include breakpoint(max-width ($large - 1px)) {
            position: relative;
            max-height: 0;
            opacity: 0%;
            overflow: hidden;
            z-index: 10;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            -webkit-transform: translate(0, 10%);
            -ms-transform: translate(0, 10%);
            transform: translate(0, 10%);
        }
    }
    
    @include breakpoint(max-width ($large - 1px)) {
        .toc__list input:checked ~ .toc__items {
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            max-height: 9999px; /* exaggerate max-height to accommodate tall lists*/
            overflow: visible;
            opacity: 1;
            margin-top: 1em;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
    
    .toc__title {
        margin: 0;
        padding: 0.25rem 0.75rem;
        font-family: $sans-serif-narrow;
        font-size: $type-size-5;
        font-weight: bold;
    }
    /*リストを整える*/
    .toc__items {
        a:link, a:visited { color: $text-color; }
        ul > li > ul > li {
            padding-left: 1em;
        }
        :target {
            font-weight: bold;
        }
        :not(:target) {
            font-weight: italic;
        }
        > ul > li {
            font-size: $type-size-8;
            > ul > li {
                font-size: $type-size-5;
            }
        }
    }