@import "{{ site.theme }}";

/*float:leftレイアウトを解消*/
//header {width: auto; float: none;}
//section {float: none;}
/*見出しの書式*/
h2 {
    background: #063e6b;/*背景色*/
    color: #FFFFFF;
    padding: 0.5em;
}
h3 {
    border-bottom: solid 1px black;
}