---
---

@import "{{ site.theme }}";

/*float:leftレイアウトを解消*/
//header {width: auto; float: none;}
//section {float: none;}
/*見出しの書式*/
h2 {
    background: #063e6b;/*背景色*/
    color: #FFFFFF;
    padding: 0.5em;
}

h3 {
    border-bottom: solid 1px black;
}

strong.redbox {
    background: #ff1e00;/*背景色*/
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

strong.yellowbox {
    background: #ffc629;/*背景色*/
    color: #000000;
    text-align: center;
    padding: 0.5em;
}

div.example_box{
    border: solid 1px rgb(65, 65, 65);
}