---
---

@import "{{ site.theme }}";

/*float:leftレイアウトを解消*/
//header {width: auto; float: none;}
//section {float: none;}
/*見出しの書式*/

strong.redbox {
    background: #ff1e00;/*背景色*/
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
}

strong.yellowbox {
    background: #ffc629;/*背景色*/
    color: #000000;
    text-align: center;
    padding: 0.5em;
}